---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: manager-role
rules:
- apiGroups:
  - ""
  resources:
  - configmaps
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - batch
  resources:
  - jobs
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - k8sible.core.k8sible.io
  resources:
  - k8sibleworkflows
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - k8sible.core.k8sible.io
  resources:
  - k8sibleworkflows/finalizers
  verbs:
  - update
- apiGroups:
  - k8sible.core.k8sible.io
  resources:
  - k8sibleworkflows/status
  verbs:
  - get
  - patch
  - update
